.work-one{
    position: relative;
    width: 100%;
    height: 700px;
    left: 0px;
    background: #b1b0b0;
    border-radius: 0px;
    background-image: url("workk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0s;
}
.work-onee{
    position: absolute;
    width: 330px;
    height: 58px;
    left: 280px;
    top: 160px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    color: #070706;
}
.work-oneee{
    position: absolute;
    width: 200px;
    height: 32px;
    left: 360px;
    top: 250px;
    font-size:16px;
    font-weight: 500px;
}
.new-secc{
     position:relative;
     height:550px;
     width:100%;
     background-color: #85929d;
}
.new-seccc{
    position: absolute;
    width: 900px;
    height: 148px;
    left: 385px;
    top:200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    /* text-align: center; */
    color: black;
}
.work-two{
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #cad0d4;
}
.work-twoo{
    position: absolute;
    width: 100%;
    height: 58px;
    left: 300px;
    top: 160px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 58px; 
}
.work-twooo{
    position: absolute;
    width: 671px;
    height: 52px;
    left: 200px;
    top:270px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    color: #0d0e0e;
}
.work-twoooo{
    position: absolute;
    width: 645px;
    height: 350px;
    left: 200px;
    top: 470px;
    /* background: #D9D9D9; */
    background-image: url("job.jpg");
}
/* .work-three{
    position: relative;
    width: 100%;
    height: 1207px;
    background-color: #98c8ec; */
/* } */
.work-three{
    position: relative;
    width: 100%;
    height: 1254px;
    background-image: url("formback.jpeg");
    border: 1px solid ;
}
.formm{
    position: relative;
    width: 645px;
    height: 1207px;
    left: 450px;
    top: 30px;
    background-color: #afcade;
}
.work-form{
    position: absolute;
    width: 500px;
    height: 58px;
    left: 75px;
    top: 23px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 58px;
    text-align: center;
    color: #0e0f10;
}
.work-formm{
    position: absolute;
    width: 600px;
    height: 70px;
    left: 30px;
    top: 90px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 50;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #050505;
}
.workfp{
    position: absolute;
    width: 100%;
    height: 27px;
    left: 30px;
    top: 160px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #0c0b0b;
}
.fnamee{   
    position: absolute;
    width: 100%S;
    height: 29px;
    left: 30px;
    top: 230px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 450;
    font-size: 25px;
    line-height: 29px;
    color: #080808;
    }
#fname{
    position: absolute;
    box-sizing: border-box;
    width: 600px;
    height: 45px;
    left: 30px;
    top: 260px;
    border: 1px solid #0e0d0d;
    border-radius: 3px;
}
.femaill{
    position: absolute;
    width: 100%;
    height: 29px;
    left: 30px;
    top: 320px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 450;
    font-size: 25px;
    line-height: 29px;
    color: #080808;
    } 
#emaiil{
        position: absolute;
        box-sizing: border-box;
        width: 600px;
        height: 45px;
        left: 30px;
        top: 350px;
        border: 1px solid #0e0d0d;
        border-radius: 3px;
}
.fphonee{
    position: absolute;
    width: 100%;
    height: 29px;
    left: 30px;
    top: 410px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 450;
    font-size: 25px;
    line-height: 29px;
    color: #080808;
}
#phonee{
    position: absolute;
    box-sizing: border-box;
    width: 600px;
    height: 45px;
    left: 30px;
    top: 440px;
    border: 1px solid #0e0d0d;
    border-radius: 3px;
}
.ffile{
    position: absolute;
    width: 100%;
    height: 29px;
    left: 30px;
    top: 500px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 450;
    font-size: 25px;
    line-height: 29px;
    color: #080808;
}
#myFile{
    position: absolute;
    box-sizing: border-box;
    width: 600px;
    height: 200px;
    left: 30px;
    top: 530px;
    border: 1px solid #0e0d0d;
    border-radius: 3px;
    background-color: white;
    text-align: center;
}
.maxx{
    position: absolute;
    width: 100%;
    height: 29px;
    right:30px;
    text-align: right;
    top: 710px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 29px;
    color: #080808;
}
.ftextt{
    position: absolute;
    width: 100%;
    height: 29px;
    left: 30px;
    top: 760px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 450;
    font-size: 25px;
    line-height: 29px;
    color: #080808;
}
#textare{
    position: absolute;
    box-sizing: border-box;
    width: 600px;
    height: 250px;
    left: 30px;
    top: 790px;
    border: 1px solid #0e0d0d;
    border-radius: 3px;
}
.submitt{
    position: absolute;
    width: 100px;
    height: 50px;
    /* left: 50px; */
    top: 1100px;
    right:30px;
    align-items: right;
    background: #1013e7;
    border-radius: 0px;
    color: white;
}